* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: cornflowerblue;
}

#picture1 {
  width: 200px;
  height: 200px;
}

main {
  display: flex;
  background-color: blueviolet;
  width: 100vw;
}

.main2 {
  display: flex;
  background-color: blueviolet;
  width: 100vw;
  flex-direction: row-reverse;
}

.thirty {
  background-color: coral;
  width: 30%;
  display: flex;
  justify-content: center;
}

.seventy {
  background-color: aqua;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  background-color: brown;
}

ul {
  width: 100vw;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  margin: 20px;
}
